.platforms {
  display: flex;
  gap: 10px;
  align-items: center;
}

.platformIcon {
  display: flex;
  align-items: center;
  background: #f7faff;
  border-radius: 5px;
  padding: 5px;
  min-width: 15px;
  min-height: 15px;
  justify-content: center;
  cursor:pointer;
}

/* .platformLogo {
  height: 24px;
  width: 24px;
  object-fit: contain;
  display: block;
} */